body {
    font-size: 14pt;
    background-color:#ebe9e2;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 18pt;
}

h3,h4,h5,h6 {
    font-size: 16pt;
}

div.code-block pre { 
    background-color:#e3e0d6;
    font-size: 12pt;
}

div.code-block pre.r {
    background-color:; 
    font-size: 12pt;
}

caption {
    color: black;
    font-size: 14em;
}
